# Introduction

This notebook was a way for me to test some things and develop small tasks that are outside the scope of the main notebook.

## How to deal with multi label data

This served me to understand the necessary data transormations to get the data in a useful format for training and evaluating a neural network in tensorflow. In the `COCO_MLC` class, I'll try to use more tensorflow operations.

In [1]:
#Common imports
import numpy as np
import time, os
import pathlib
import random
from collections import defaultdict

#Reproducibility
random.seed(23)

In [2]:
ROOT_PATH = "."
DATA_DIR = os.path.join(ROOT_PATH, "data")
coco_year = 2017

In [3]:
data_dir = pathlib.Path(DATA_DIR)
data_dir

WindowsPath('data')

In [10]:
class_names = np.array(sorted([item.name for item in data_dir.glob('train/*')]))
class_names

array(['car', 'negative', 'person'], dtype='<U8')

In [11]:
def to_img_name(s):
    return str(s).split(os.path.sep)[-1]

split = "train"
img_filen = []
for i, class_n in enumerate(class_names):
    pattern = "{}/{}/*.jpg".format(split, class_n)
    img_filen += [(filen, i) for filen in map(to_img_name, data_dir.glob(pattern))]  

img_filen[:5]

[('000000003711.jpg', 0),
 ('000000005205.jpg', 0),
 ('000000009801.jpg', 0),
 ('000000016977.jpg', 0),
 ('000000020671.jpg', 0)]

In [12]:
from collections import defaultdict

merged_dict = defaultdict(list)

for filen, label in img_filen:
    merged_dict[filen].append(label)

In [13]:
list_ds_raw = list(merged_dict.items())
list_ds_raw[:5]

[('000000003711.jpg', [0]),
 ('000000005205.jpg', [0, 2]),
 ('000000009801.jpg', [0, 2]),
 ('000000016977.jpg', [0]),
 ('000000020671.jpg', [0, 2])]

The following transformations can be done simultaneously, but this is just some testing...

In [14]:
for ix, elem in enumerate(list_ds_raw):
    filen, labels = elem
    # Images with multiple labels have multiple possible filepaths(i.e. 
    # they exist in different categories) so we will take the first one,
    # for example.
    class_n = class_names[labels[0]]
    full_path = data_dir / split / class_n / filen
    list_ds_raw[ix] = (str(full_path), labels)

In [15]:
list_ds_raw[:5]

[('data\\train\\car\\000000003711.jpg', [0]),
 ('data\\train\\car\\000000005205.jpg', [0, 2]),
 ('data\\train\\car\\000000009801.jpg', [0, 2]),
 ('data\\train\\car\\000000016977.jpg', [0]),
 ('data\\train\\car\\000000020671.jpg', [0, 2])]

In [17]:
for ix, elem in enumerate(list_ds_raw):
    filep, labels = elem
    label = np.zeros(len(class_names),)
    label[labels]=1
    
    list_ds_raw[ix] = (filep, label)

In [18]:
list_ds_raw[:5]

[('data\\train\\car\\000000003711.jpg', array([1., 0., 0.])),
 ('data\\train\\car\\000000005205.jpg', array([1., 0., 1.])),
 ('data\\train\\car\\000000009801.jpg', array([1., 0., 1.])),
 ('data\\train\\car\\000000016977.jpg', array([1., 0., 0.])),
 ('data\\train\\car\\000000020671.jpg', array([1., 0., 1.]))]

# Parsing "Awesome Computer Vision Models"

For model selection, I came across [this up-to-date repository](https://github.com/nerox8664/awesome-computer-vision-models) that contains a list of the best image models. For our case, I've exported the classification models to CSV and I'm just going to filter it to get a clean csv for the main notebook.

In [74]:
import pandas as pd 
import numpy as np

In [75]:
data = pd.read_csv("img_classification_models.csv")
data.head()

,Model,Number of parameters,FLOPS,Top-1 Error,Top-5 Error,Year,DEMO
0,AlexNet ('One weird trick for parallelizing co...,62.3M,"1,132.33M",40.96,18.24,2014,X
1,VGG-16 ('Very Deep Convolutional Networks for ...,138.3M,?,26.78,8.69,2014,X
2,ResNet-10 ('Deep Residual Learning for Image R...,5.5M,894.04M,34.69,14.36,2015,Try live
3,ResNet-18 ('Deep Residual Learning for Image R...,11.7M,"1,820.41M",28.53,9.82,2015,Try live
4,ResNet-34 ('Deep Residual Learning for Image R...,21.8M,"3,672.68M",24.84,7.8,2015,Try live

In [76]:
data.drop("DEMO", axis=1, inplace=True)

In [77]:
mask = data["FLOPS"].str[-1] == "M" # we can safely ignore higher orders(constrained devices)
data = data[mask]

In [78]:
data["FLOPS"] = data["FLOPS"].str[:-1].str.replace(",", "").astype(float)

In [79]:
data.head()

,Model,Number of parameters,FLOPS,Top-1 Error,Top-5 Error,Year
0,AlexNet ('One weird trick for parallelizing co...,62.3M,1132.33,40.96,18.24,2014
2,ResNet-10 ('Deep Residual Learning for Image R...,5.5M,894.04,34.69,14.36,2015
3,ResNet-18 ('Deep Residual Learning for Image R...,11.7M,1820.41,28.53,9.82,2015
4,ResNet-34 ('Deep Residual Learning for Image R...,21.8M,3672.68,24.84,7.8,2015
5,ResNet-50 ('Deep Residual Learning for Image R...,25.5M,3877.95,22.28,6.33,2015

In [80]:
final_mask = data["FLOPS"] < 1000 # millions of FLOPS

In [81]:
data = data.rename(columns={"FLOPS":"FLOPS (millions)"})

In [82]:
final_data = data[final_mask].sort_values("Top-1 Error")

In [90]:
final_data["Model"] = final_data["Model"].str.split("(").str[0]

In [91]:
final_data.head(10)

,Model,Number of parameters,FLOPS (millions),Top-1 Error,Top-5 Error,Year
78,DA-NAS-C,?,467.00,23.80,?,2020
60,EfficientNet-B0,"5,288,548",414.31,24.77,7.52,2019
34,NASNet-A 4@1056,"5,289,978",584.90,25.68,8.16,2017
33,MobileNet,"4,231,976",579.80,26.61,8.95,2017
71,MuffNet_1.5,3.4M,300.00,26.90,?,2019
46,MobileNetV2,"3,504,960",329.36,26.97,8.87,2018
74,MobileNetV2-Bin-5,"3,504,960",329.36,27.50,?,2019
42,2.0-SqNxt-23v5,"3,366,344",897.60,29.63,10.66,2018
70,MuffNet_1.0,2.3M,146.00,30.10,?,2019
43,ShuffleNetV2,"2,278,604",149.72,31.44,11.63,2018

In [84]:
final_data.to_csv("parsed_classification_models.csv")